<layout name="layout" />

<style>
    #tab{
        width:700px;
        font-size:15px;
        color:#778899;
        margin:20px auto;
        border:2px solid #778899;
        /*border-collapse: collapse;*/
    }
    .thead{
        border:2px solid #778899;
        text-align:center;
    }
    #addnew{
        margin:20px 500px 0px 800px;
        width:50px;
    }
</style>
    
    <div class="rightcon">
    	<div class="right_con">
            <div id="addnew">
                 <!-- <a href="<?php echo U('User/addUser');?>">新增</a> -->
            </div>
            <div>
                
            </div>
        	<table id="tab">
                <tr>
                    <th class="thead" style="color:red;">干啥</th>
                    <th class="thead">操作</th>
                    <!-- <th class="thead">编辑</th> -->
                </tr>  
                <tr>
                    <td class="thead">订阅提示</td>
                    <td class="thead"><a href="<?php echo U('Weixin/title');?>">Go!</a></td>
                </tr>
                <tr>
                    <td class="thead">图文</td>
                    <td class="thead"><a href="<?php echo U('Weixin/news');?>">Go!</a></td>
                </tr>
                <tr>
                    <td class="thead">链接</td>
                    <td class="thead"><a href="<?php echo U('Weixin/web');?>">Go!</a></td>
                </tr>
                
            </table>
            
        </div>
    </div>
</div>
<div style="text-align:center;">
<!-- <p>来源:<a href="http://www.mycodes.net/" target="_blank">源码之家</a></p> -->
</div>

</body>
</html>
<script type="text/javascript">
	
</script>